.cotainer {
    padding-left: 16px;
    padding-right: 16px;
}

@media screen and (min-width: 768px) {
    .cotainer {
        width: 768px;
        margin-left: auto;
        margin-right: auto;
    }
}